/* ###########################################
  Variables
########################################### */
$body-bg: #fff;
$body-color: #000;

/* ###########################################
  Vendors
########################################### */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/scss/bootstrap";

/* ###########################################
  Global
########################################### */
body {
  padding-top: 60px;
}
